@charset "UTF-8";
/*!
Author: SokoTech / edgaar.net
Author URI: https://soko.tech
*/
/* ----------------- Colors ---------------------------------------

white: #f5f5f5
blue: #2ea0ff
darkblue: #007ee6
gray: #303030
dakgray: #1D1D1D

------------------------------------------------------------------ */

/* --------------------------------------- FONTS ----------------- */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto:400,500,700,900);

/* --------------------------------------- GENERAL --------------- */

html {
  scroll-behavior: smooth;
  smooth-scrolling: true;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;

  /* this breaks position sticky in Firefox */
  /* overflow-x: hidden; */
}

p {
  line-height: 2.1em;
  font-weight: 200;
}

a {
    color: #2ea0ff;
}

/* --------------------------------------- MAIN NAV --------------- */

.fixed-top {
    padding: 1%;
    display: flex;
}

.menu-divider {
  border-bottom: 1px solid #007ee6;
  margin: 0 20%;
}

.navbar {
  width: 100%;
  background-color: #2ea0ff !important;
}

.navbar-nav {
  position: realtive;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

.navbar-brand {
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  color: white !important;
  margin-left: 10%;
}

.navbar-brand:hover {
  transition: .2s ease;
  color: #206aa8 !important;
}

.nav-item {
  margin: 2% 3%;
  text-align: center;
  font-weight: 100;
}

#nav-link-active {
  color: #206aa8 !important;
}

.nav-item-01 {
  margin-top: 10%;
}

.nav-link {
  padding: 5% 0;
  color: white !important;
}

.nav-link:hover {
  transition: .2s ease;
  color: #206aa8 !important;
}

.declaration-download {
  transition: all .2s ease;
}

.declaration-download:hover {
  transform: scale(1.1);
}

.nav-item a:hover {
  transition: all 0.4s ease;
  color: #206aa8 !important;
}

.nav-item-declaration-text {
  color: white;
}

.nav-item-declaration-text:hover {
  transition: all 0.4s ease;
  color: #206aa8 !important;
  text-decoration: none;
}

/* .nav-item-01, .nav-item-02, .nav-item-03, .nav-item-04, {
}
*/

.dropdown-menu {
  background-color: #f5f5f5;
  border: 2px solid #2ea0ff;
}

.dropdown-divider {
 border-top: 2px solid #2ea0ff;
}

.dropdown-item:hover {
  background-color: tranparent !important;
}

.declaration-download {
  display: flex;
  align-items: center;
}

.nav-item-declaration-icon {
    align-items: center;
    display: flex;
    margin-top: 7%;
}

.declaration-download {
  display: flex;
  width: 70px;
  height: 70px;
  margin: 0 auto;

}

.declaration-download-icon {
  margin: auto;
  width: 100px;
}

.nav-item-declaration-text {
  text-align: center;
  margin: 15% 0 15% 0;
  font-weight: 100;
}

#declaration {
  padding: 25% 0 0 0;
}


/*  (tablets, 768px and up)  */
@media screen and (min-width: 768px) {



        .nav-item {
            margin: 1% 4%;
            text-align: center;
        }

        .navbar-brand {
          margin-left: 3%;
        }

        .nav-item-01 {
            margin-top: 5%;
        }

        .nav-item-declaration-icon {
          margin: 3% 0 0 0;
        }

        #declaration {
          padding: 15% 0 0 0;
        }

        .declaration-download {
            width: 90px;
            height: auto;
        }

        .nav-item-declaration-text {
            margin: 0% 0 7% 0;
        }

}

/*  (desktops, 992px and up)  */
@media screen and (min-width: 992px) {

          .fixed-top {
            padding: 1% 5%;
          }

          .navbar-nav {
            width: 100%;
            margin-left: 0;
          }

          .menu-divider {
            display: none;
          }

          .navbar-brand {
            font-size: 1em;
          }

          .nav-item {
              margin: 0.6% 4%;
          }

          .declaration-download {
              width: 85%;
              height: auto;
          }

          .declaration-download-icon {
              width: 40px;
          }

          .nav-item-declaration-icon {
              margin: 0;
          }

          .nav-item-declaration-text {
              margin: 1% 0 0% 0;
              font-weight: 100;
          }
}


/*  (large desktops, 1200px and up)  */
@media screen and (min-width: 1200px) {

          .navbar-nav {
            width: 100%;
          }

          .navbar-brand {
            margin: 0;
          }

          .menu-divider {
           display: none;
          }

}



/* --------------------------------------- HEADER --------------- */

header {
  grid-column: 1 / 3;
  color: white;
  text-align: center;
  height: 660px;
  background-image: url("../img/00-landing-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg {
  background-color: #23231;
  display: flex;
  height: 300px;
  background-size: cover;
}

.bg-headline {
  margin: 40% auto 0 auto;
  color: black;
}

.bg-headline h1{
  font-size: 2.1em;
  color: #2ea0ff;
  text-transform: uppercase;
  margin: 0;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
}

.bg-headline h4{
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  margin: 0;
}

.bg-headline p{
  font-size: 1em;
  font-weight: 100;
}

.subtitle {
  font-family: 'Open Sans', sans-serif;
}


.bg-buttons .container {
  width: 80%;
}

.bg-button-element{
  transition: all 0.4s ease;
  background-color: transparent;
  border: 4px solid #e0e0e0;
  border-radius: 40px;
  padding: 1% 15%;
  font-size: 0.9em;
  font-weight: 400;
  color: #2ea0ff;
  cursor: pointer;
}

#bg-button-02 .bg-button-element {
  padding-left: 23%;
  padding-right: 23%;
}

.bg-button-element:hover {
  background-color: #2ea0ff;
  border: 4px solid #2ea0ff;
  color: white;
}

#bg-button-01, #bg-button-02, #bg-button-03 {
  margin: 3% 0;
}



/*  (landscape phones, 576px and up)   */
@media screen and (min-width: 576px) {
          header {
            height: 700px;
            padding: 4rem;
            background-size: 165%;
            background-image: url("../img/00-landing.svg");
          }

          .bg {
            height: 250px;
          }

          .bg-headline {
            margin: 15% auto;
            color: black;
          }

          .bg-headline h1{
            font-size: 3em;
            color: #2ea0ff;
          }

          .bg-headline p{
            font-size: 1.2em;
            font-weight: 100;
          }

          #bg-button-01, #bg-button-02, #bg-button-03 {
            margin: 1% 0;
          }

          #bg-button-02 .bg-button-element {
            padding-left: 20%;
            padding-right: 20%;
          }


}

/*  (tablets, 768px and up)  */
@media screen and (min-width: 768px) {

          header {
            height: 800px;
            padding: 4rem;
            background-size: 150%;
          }

          .bg {
            height: 300px;
          }

          .bg-headline {
            margin: 15% auto;
            color: black;
          }

          .bg-headline h1{
            font-size: 3.5em;
            color: #2ea0ff;
          }

          .bg-headline p{
            font-size: 1.2em;
            font-weight: 100;
          }

          .bg-buttons .container {
              width: 100%;
          }

          .bg-button-element{
            font-size: 1.1em;
          }

          .bg-button-element{
            padding: 1% 15%;
          }

          #bg-button-02 .bg-button-element {
            padding-left: 18%;
            padding-right: 18%;
          }

}

/*  (desktops, 992px and up)  */
@media screen and (min-width: 992px) {

          header {
            height: 900px;
            padding: 4rem;
            background-size: 110%;
          }

          .bg {
            height: 330px;
          }

          .bg-headline {
            margin: 12% auto;
            color: black;
          }


          .bg-headline h1{
            font-size: 4em;
            color: #2ea0ff;
          }

          .bg-headline p{
            font-size: 1.2em;
            font-weight: 100;
          }

          .bg-button-element{
            font-size: 1.1em;
          }

          .bg-button-element{
            padding: 1% 10%;
          }

          #bg-button-02 .bg-button-element {
            padding-left: 12%;
            padding-right: 12%;
          }
}


/*  (large desktops, 1200px and up)  */
@media screen and (min-width: 1200px) {

          header {
            height: 1200px;
            padding: 4rem;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

          }

          .bg {
            height: 400px;
          }

          .bg-headline {
            margin: 15% auto;
            color: black;
          }

          .bg-headline h1{
            font-size: 4.5em;
            color: #2ea0ff;
          }

          .bg-headline p{
            font-size: 1.2em;
            font-weight: 100;
          }


          .bg-button-element{
            padding: 1% 10%;
            font-size: 1.1em;
          }

}



/* --------------------------------------- SIDEBAR NAV --------------- */

nav {
  background: #303030;
  width: 300px;
  top: 15%
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-block {
  width: 240px;
}

.sidebar-nav {
  background-color: #303030;
   display: none;
}

.section-block-anchor-link:hover {
  color: #8c8c8c;
  text-decoration: none;
}

#button-sidebar-go-to-top {
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  align-items: flex-start;
}

#sidebar-go-to-top {
  margin-bottom: 15%;
}

#button-sidebar-go-to-top-col p{
  text-align: center;
  font-size: 0.7em;
  margin-bottom: 10%;
}


/* Only stick if you can fit */
@media (min-height: 300px) {
  nav ul {
    position: sticky;

  }
}
nav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
}
nav ul li a.current {
  background: black;
}

.section-nav-title {
  font-size: 0.9em;
  margin: 0;
  line-height: 1.3;
  font-weight: 400;
}

.section-nav-title-introduction{
  font-size: 0.9em;
  font-weight: 500;
}

.section-nav-number {
  font-weight: 600;
  font-size: 1.3em;
  margin-right: 3%;
  color: #2ea0ff;
}



/*  (landscape phones, 576px and up)   */
@media screen and (min-width: 576px) {  }

/*  (tablets, 768px and up)  */
@media screen and (min-width: 768px) {

        .sidebar-nav {
           display: none;
        }

        .section-nav-title-introduction {
        margin: 30% 0 0 0;
        }

}

/*  (desktops, 992px and up)  */
@media screen and (min-width: 992px) {

        .sidebar-nav {
           display: block;
        }

        .section-nav-title-introduction {
        margin: 30% 0 0 0;
        }

}

/*  (large desktops, 1200px and up)  */
@media screen and (min-width: 1200px) {

        .sidebar-nav {
           display: block;
        }

        .section-nav-title-introduction {
        margin: 30% 0 0 0;
        }

}


/* --------------------------------------- PAGE CONTENT --------------- */

.main {
  padding: 0;
  grid-column: 1 / 3;
}

.main .container {
  padding: 0 10%;
}

.page-main-content .container-fluid {
  padding: 0;
}

.page-main-content h1 {
    font-size: 1.5em;
    font-weight: 700;
    color: #2ea0ff;
    margin-bottom: 10%;
}

.page-main-content p {
    font-size: 1em;
    line-height: 1.7em;
}



.sidebar {
  display: none;
}

.section-intro-temp {
    height: 0;
}

.section-illustration {
  margin: 15% 0 10% 0;
}

.section-number {
  color: #2ea0ff;
  font-size: 1.3em;
  margin-right: 1%;
}

.section-anchor {
  padding: 4% 0;
}

#introduction-section, #section-1, #section-2, #section-3, #section-4, #section-5, #section-6, #section-7, #section-8, #section-9 {
  margin-bottom: 30%
}

#introduction-section h1, #section-1 h1, #section-2 h1, #section-3 h1, #section-4 h1, #section-5 h1, #section-6 h1, #section-7 h1, #section-8 h1, #section-9 h1 {
  font-size: 4.5em;
  font-weight: 700;
  color: #2ea0ff;
}

#introduction-section h2, #section-1 h2, #section-2 h2, #section-3 h2, #section-4 h2, #section-5 h2, #section-6 h2, #section-7 h2, #section-8 h2, #section-9 h2 {
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  font-size: 1.7em;
  margin-bottom: 10%;
}

#introduction-section h2 {
  margin-bottom: 10%;
  font-size: 2em;
  font-weight: 900;
}

#introduction-section p{
  font-size: 1em;
  line-height: 1.7em;
}

#introduction-section h5, #section-1 h5, #section-2 h5, #section-3 h5, #section-4 h5, #section-5 h5, #section-6 h5, #section-7 h5, #section-8 h5, #section-9 h5 {
  margin-top: 2%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.7em;
}

#section-1 p, #section-2 p, #section-3 p, #section-4 p, #section-5 p, #section-6 p, #section-7 p, #section-8 p, #section-9 p {
  margin-top: 2%;
  line-height: 1.7em;
  font-size: 1em;
}

.download-section {
  text-align: center;
  margin: 10% 0 15% 0;
}

.download-section h5 {
  margin-top: 5%;
  font-weight: 100;
}

.download-file-button {
  margin: 3% auto;
  background-color: #2ea0ff;
  border-radius: 100px;
  width: 90px;
  height: 90px;
  display: flex;
}

.download-file-button a {
  width:45px;
  margin: auto;
}

.download-file-button a:hover {
  transition: all 0.4s ease;
  transform: scale(1.1);
}

.page-content-text {
  margin: 9% 10%;
}

.page-content-text-hr-endorse{
  margin-top: 10%;
}

.photo-credits {
  font-size: 0.7em !important;
  justify-content: end;
  display: flex;
  margin-right: 3%;
}

#bg-button-read-more {
  display: flex;
  justify-content: center;
}

.bg-button-element-read-more {
  margin: 0 0 10% 0;
  transition: all 0.4s ease;
  background-color: transparent;
  border: 4px solid #e0e0e0;
  border-radius: 20px;
  padding: 2% 0%;
  font-size: 1em;
  font-weight: 100;
  color: #2ea0ff;
  cursor: pointer;
  width: 320px;
}

.bg-button-element-read-more:hover {
  background-color: #2ea0ff;
  border: 4px solid #2ea0ff;
  color: white;
}

.button-element-download-declaration {
  margin: 0 0 10% 0;
  transition: all 0.4s ease;
  background-color: transparent;
  border: 4px solid #e0e0e0;
  border-radius: 30px;
  padding: 1% 0%;
  font-size: 1em;
  font-weight: 400;
  color: #2ea0ff;
  cursor: pointer;
  width: 250px;
}

.button-element-download-declaration:hover {
  background-color: #2ea0ff;
  border: 4px solid #2ea0ff;
  color: white;
}

.endorse-section {
  margin: 20% 0;
  text-align: center;
}

#endorse {
  padding-bottom: 10%;
}

.endorse-your-city-button {
  margin: 0 0 10% 0;
  transition: all 0.4s ease;
  background-color: transparent;
  border: 4px solid #e0e0e0;
  border-radius: 30px;
  padding: 1% 10%;
  font-size: 1em;
  color: #2ea0ff;
  cursor: pointer;
  width: 250px;
}

.endorse-your-city-button:hover {
  background-color: #2ea0ff;
  border: 4px solid #2ea0ff;
  color: white;
  text-decoration: none;
}


.endorse-section h3{
  font-size: 1.5rem;
  font-weight: 900;
  color: #2ea0ff;
  text-transform: uppercase;
  font-family: 'roboto';
  margin-bottom: 7%;
}

.endorse-section p{
  line-height: 1.7em;
  font-size: 1em;
}

.page-content-text-header {
  text-align: center;
  margin: 25% 5% 10% 6%;
}

#cities-do-element {
  text-align: center;
}

#cities-do-element h3{
      color: #2ea0ff;
}

.cities-do-element-button-01, .cities-do-element-button-02, .cities-do-element-button-03 {
    margin: 0 0 10% 0;
    transition: all 0.4s ease;
    background-color: transparent;
    border: 4px solid #e0e0e0;
    border-radius: 30px;
    padding: 1% 17%;
    font-size: 1.3em;
    color: #2ea0ff;
    cursor: pointer;
}

.cities-do-element-button-01 {
    padding: 1% 21%;
}

.cities-do-element-button-02 {
    padding: 1% 24%;
}

.cities-do-element-button-03 {
    padding: 1% 18%;
}

.cities-do-element-button-01:hover, .cities-do-element-button-02:hover, .cities-do-element-button-03:hover {
    background-color: #2ea0ff;
    border: 4px solid #2ea0ff;
    color: white;
    text-decoration: none;
}

.img-fluid {
  width: 2000px;
}



/*  (landscape phones, 576px and up)   */
@media screen and (min-width: 576px) {

          .main .container {
              padding: 0 0%;
          }

          .page-content-text {
            margin: 9% 10%;
          }

          .page-main-content h1 {
            margin-bottom: 6%;
          }

          .page-content-text p{
            font-size: 0.9em;
          }

          #declaration {
            margin: 10% 0 0 0;
          }

          .page-content-text-header {
            margin: 15% 5% 5% 6%;
          }



        .cities-do-element-button {

            margin: 0 0 5% 0;
            padding: 1% 10%;
          }

          .cities-do-element-button {
              font-size: 1em;
          }

          .cities-do-element-button-01 {
              padding: 1% 21%;
          }

          .cities-do-element-button-02 {
              padding: 1% 24%;
          }

          .cities-do-element-button-03 {
              padding: 1% 20%;
          }


}

/*  (tablets, 768px and up)  */
@media screen and (min-width: 768px) {

          .main .container {
              padding: 0 0%;
          }

          .sidebar {
            display: none;
          }

          .page-content-text {
            margin: 9% 10%;
          }

          #introduction-section, #section-1, #section-2, #section-3, #section-4, #section-5, #section-6, #section-7, #section-8, #section-9 {
            margin-bottom: 20%
          }

          #introduction-section h2 {
            margin-bottom: 5%;
          }

          #introduction-section p{
            font-size: 1em;
          }

          #introduction-section h2, #section-1 h2, #section-2 h2, #section-3 h2, #section-4 h2, #section-5 h2, #section-6 h2, #section-7 h2, #section-8 h2, #section-9 h2 {
            font-weight: 900;
            font-family: 'Roboto', sans-serif;
            font-size: 2.5em;
            margin-bottom: 5%;
          }


          .section-number {
            color: #2ea0ff;
            font-size: 1.4em;
          }

          .bg-button-element-read-more {
            margin: 0% 0 10% 0;
          }

          .download-section {
            text-align: center;
            margin: 10% 0 3% 0;
          }

          .download-file-button {
            width: 150px;
            height: 150px;
          }

          .download-file-button a {
            width:75px;
            margin: auto;
          }

          .endorse-section {

              margin: 10% 0 3% 0;
          }

          .endorse-section h2{
            font-size: 2rem;
          }

          .page-main-content h1{
            font-size: 2em;
            margin-bottom: 7%;
          }

          .cities-do-element-button {
              font-size: 1.2em;
          }

          .page-content-text-header {
            margin: 10% 5% 5% 6%;
          }

          .cities-do-element-button {
              font-size: 1.1em;
          }
}


/*  (desktops, 992px and up)  */
@media screen and (min-width: 992px) {

          .main .container {
              padding: 0 10%;
          }

          #declaration {
            margin: 10% 0 0 0;
          }

          .section-intro-temp {
              height: 0;
          }

          .page-content-text-header{
            display: block;
            margin: 10% 7% 5% 7%;;
          }

          #page-content-text-header-title {
            margin:
          }

          .page-content-text-header ul li{
            display: inline;
          }

          .page-main-content h1{
          font-size: 2.5em;
          font-weight: 700;
          color: #2ea0ff;
          margin-bottom: 7%;
          }

          .page-content-text {
            margin: 7% 10%;
          }

          .page-content-text {
            margin: 9% 10%;
          }

          #introduction-section h2 {
            font-size: 3em;
          }

          .cities-do-element-button {
              font-size: 1.35em;
          }

}

/*  (large desktops, 1200px and up)  */
@media screen and (min-width: 1200px) {

            .main .container {
                padding: 0 10%;
            }

            .sidebar {
              display: block;
            }

            .main {
              padding: 0;
            }

            .section-intro-temp {
                height: 150px;
            }

            .grid-container {
              display: grid;
              grid-template-columns: auto auto auto auto;
              grid-gap: 10px;
            }

            #content-section-container {
              width: 100%
            }

            .page-main-content {
              margin: 0;
            }

            .page-main-content .container-fluid {
              padding: 0;
            }

            .page-main-content h1{
            font-size: 3em;
            font-weight: 700;
            color: #2ea0ff;
            margin-bottom: 5%;
            }

            .page-main-content h4{
              margin-top: 1%;
              font-family: 'Roboto', sans-serif;
              font-weight: 400;
              font-size: 1.5em;
              line-height: 1.7em;
            }

            .page-main-content p{
              margin-top: 1%;
              font-size: 1em;
              line-height: 1.7em;
            }

            .page-content-text {
              margin: 9% 10%;
            }

            #introduction-section h2 {
              font-size: 2.5em;
            }

            .bg-button-element-read-more {
             width: 323px;
            }

            .download-section {
                margin: 10% 0;
            }

            .cities-do-element-button {
                font-size: 1.5em;
            }

}

/* --------------------------------------- MAIN FOOTER --------------- */

footer {
  grid-column: 1 / 3;
  background: #1D1D1D;
  padding: 5rem 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
}



#footer-endorsing-cities-title{
    text-transform: uppercase;
    margin: 0 0 6% 0;
    font-weight: 900;
    color: #5e5e5e;
}

#footer-support-title {
    text-transform: uppercase;
    margin: 10% 0 6% 0;
    font-weight: 900;
    color: #5e5e5e;
}

#footer-element-01, #footer-element-02, #footer-element-03, #footer-element-04 {
  margin: 10%;
  display: flex;
}

.footer-logo-01, .footer-logo-02, .footer-logo-03 {
  width: 70%;
  margin: 0 auto;
}

.footer-logo-04 {
  width: 100%;
}


#footer-hr {
  margin: 0 0 15% 0;
  border-top: 1px solid #3b3b3b;
}

.footer-arrow-back-to-top {
  display: flex;
  justify-content: flex-end;
}

#footer-go-to-top-arrow{
  text-align: end;
}

#footer-go-to-top-arrow img{
  width: 55px;
  margin-bottom: 10%
}

#footer-title-arrow {
  margin: 5% 0 0 0;
  color: white;
  font-weight: 400;
  font-size: 0.75em;
}


/*  (landscape phones, 576px and up)   */
@media screen and (min-width: 576px) {

          .footer-logo-01, .footer-logo-02, .footer-logo-03 {
              width: 70%;
              margin: 0 auto;
          }

          #footer-element-01, #footer-element-02, #footer-element-03, #footer-element-04 {
              margin: 0%;
              display: flex;
          }


          #footer-hr {
            margin: 7% 0;
          }

          #footer-element-04 {
            margin: 0;
            display: flex;
            flex: 0 0 40%;
            padding: 0 7%;
          }
}


@media screen and (min-width: 768px) {

          .footer-logo-01, .footer-logo-02, .footer-logo-03 {
              width: 70%;
              margin: 0 auto;
          }


          .footer-logo-01, .footer-logo-02, .footer-logo-03 {
            width: 70%;
            margin: 0 auto;
          }


          #footer-element-01, #footer-element-02, #footer-element-03, #footer-element-04 {
              margin: 0%;
              display: flex;
          }

          #footer-endorsing-cities-title{
              margin: 0 0 10% 0;
          }

          #footer-support-title {
              margin: 10% 0 7% 0;
          }

          #footer-hr {
            margin: 7% 0;
          }

          #footer-element-04 {
            margin: 0;
            display: flex;
            flex: 0 0 40%;
            padding: 0 7%;
          }



}


/*  (desktops, 992px and up)  */
@media screen and (min-width: 992px) {

          #footer-element-01, #footer-element-02, #footer-element-03, #footer-element-04 {

              margin: 0%;
              display: flex;

          }

          #footer-endorsing-cities-title{
              margin: 0 0 5% 0;
          }

          #footer-support-title {
              margin: 5% 0 5% 0;
          }

          .footer-logo-01, .footer-logo-02, .footer-logo-03 {
            width: 60%;
            margin: 0 auto;
          }

          #footer-element-04 {
            margin: 0;
            display: flex;
            flex: 0 0 40%;
            padding: 0 7%;
          }

}

/*  (large desktops, 1200px and up)  */
@media screen and (min-width: 1200px) {

          #footer-element-01, #footer-element-02, #footer-element-03 {
            margin: 0;
            display: flex;
            padding: 0 7%;
          }

          #footer-element-04 {
            margin: 0;
            display: flex;
            flex: 0 0 40%;
            padding: 0 7%;
          }

          #footer-endorsing-cities-title{
              margin: 0 0 5% 0;
          }

          #footer-support-title {
              margin: 5% 0 5% 0;
          }


          .footer-logo-01, .footer-logo-02, .footer-logo-03 {
            width: 90%;
            margin: auto;
          }



          #footer-hr {
            margin: 5% 0;
            border-top: 1px solid #3b3b3b;
          }





}

/* --------------------------------------- SOCIAL SHARE --------------- */

.social-share {
  margin: 10% 0 20% 0;
  display: flex;
}

.social {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#social-share-col6 {
  margin: auto;
}
.social-share .container h5 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #2ea0ff;
  margin-bottom: 3%;
}

.social ul {
    margin: 0;
    padding: 5px;
    display: flex;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
    justify-content: center;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #303030;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
}

.social .fa-facebook:hover {
    background: #4060A5;
}

.social .fa-twitter:hover {
    background: #00ABE3;
}

.social .fa-google-plus:hover {
    background: #e64522;
}

.social .fa-github:hover {
    background: #343434;
}

.social .fa-instagram:hover {
    background: #375989;
}

.social .fa-rss:hover {
    background: #e88845;
}

.social .fa-whatsapp:hover {
    background: #00bd51;
}

.social .fa-youtube-play:hover {
    background: #DF192A;
}

.social .fa-envelope-o:hover {
    background: #828282;
}

/*  (landscape phones, 576px and up)   */
@media screen and (min-width: 576px) {


}


@media screen and (min-width: 768px) {

          .social-share {
            margin: 10% 0 10% 0;
            display: flex;
          }

}


/*  (desktops, 992px and up)  */
@media screen and (min-width: 992px) {



}

/*  (large desktops, 1200px and up)  */
@media screen and (min-width: 1200px) {



}
