@charset "UTF-8";
/*!
Author: SokoTech / edgaar.net
Author URI: https://soko.tech
*/
/* ----------------- Colors ---------------------------------------

white: #f5f5f5
blue: #2ea0ff
darkblue: #007ee6
gray: #303030
dakgray: #1D1D1D

------------------------------------------------------------------ */

/* --------------------------------------- FONTS ----------------- */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto:400,500,700,900);

/* --------------------------------------- GENERAL --------------- */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;

  /* this breaks position sticky in Firefox */
  /* overflow-x: hidden; */
}

p {
  line-height: 2.1em;
  font-weight: 200;
}

a {
    color: #2ea0ff;
}

/* --------------------------------------- MAIN NAV --------------- */

.fixed-top {
    padding: 1%;
    display: flex;
}

.menu-divider {
  border-bottom: 1px solid #007ee6;
  margin: 0 20%;
}

.navbar {
  width: 100%;
  background-color: #2ea0ff !important;
}

.navbar-nav {
  position: realtive;
  right: 5%;
  top: 25%;
}

.navbar-brand {
  font-size: 0.7em;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  color: white !important;
}

.navbar-brand:hover {
  transition: .2s ease;
  color: #206aa8 !important;
}

.nav-item {
  margin: 2% 5%;
  text-align: center;
  font-weight: 100;

}

#nav-link-active {
  color: #206aa8 !important;
}

.nav-item-01 {
  margin-top: 10%;
}

.nav-link {
  padding: 5% 0;
  color: white !important;
}

.nav-link:hover {
  transition: .2s ease;
  color: #206aa8 !important;
}

.declaration-download {
  transition: all .2s ease;
}

.declaration-download:hover {
  transform: scale(1.1);
}

.nav-item a:hover {
  transition: all 0.4s ease;
  color: #206aa8 !important;
}

.nav-item-declaration-text {
  color: white;
}

.nav-item-declaration-text:hover {
  transition: all 0.4s ease;
  color: #206aa8 !important;
  text-decoration: none;
}

/* .nav-item-01, .nav-item-02, .nav-item-03, .nav-item-04, {
}
*/

.dropdown-menu {
  background-color: #f5f5f5;
  border: 2px solid #2ea0ff;
}

.dropdown-divider {
 border-top: 2px solid #2ea0ff;
}

.dropdown-item:hover {
  background-color: tranparent !important;
}

.declaration-download {
  display: flex;
  align-items: center;
}

.nav-item-declaration-icon {
  align-items: center;
  display: flex;
}

.declaration-download {
  display: flex;
  width: 70px;
  height: 70px;
  margin: 0 auto;

}

.declaration-download-icon {
  margin: auto;
  width: 100px;
}

.nav-item-declaration-text {
  text-align: center;
  margin: 10% 0 7% 0;
  font-weight: 100;
}

#declaration {
  margin: 15% 0 0 0;
}

/*  (landscape phones, 576px and up)   */
@media screen and (min-width: 576px) {

          .navbar-brand {
            font-size: 1em;
          }
}

/*  (tablets, 768px and up)  */
@media screen and (min-width: 768px) {



        .nav-item {
            margin: 1% 5%;
            text-align: center;
        }

        .navbar-brand {
          font-size: 1em;
        }

        .nav-item-01 {
            margin-top: 5%;
        }

        .nav-item-declaration-icon {
          margin: 3% 0 0 0;
        }

        .declaration-download {
            width: 90px;
            height: auto;
        }

        .nav-item-declaration-text {
            margin: 0% 0 7% 0;
        }

}

/*  (desktops, 992px and up)  */
@media screen and (min-width: 992px) {

          .fixed-top {
            padding: 1% 5%;
          }

          .navbar-nav {
            width: 100%;
          }

          .menu-divider {
            display: none;
          }

          .navbar-brand {
            font-size: 1em;
          }

          .nav-item {
              margin: 0.6% 5%;
          }

          .declaration-download {
              width: 85%;
              height: auto;
          }

          .declaration-download-icon {
              width: 40px;
          }

          .nav-item-declaration-icon {
              margin: 0;
          }

          .nav-item-declaration-text {
              margin: 1% 0 0% 0;
              font-weight: 100;
          }
}


/*  (large desktops, 1200px and up)  */
@media screen and (min-width: 1200px) {

          .navbar-nav {
            width: 100%;
          }

          .navbar-brand {
            font-size: 1em;
          }

          .menu-divider {
           display: none;
          }

}



/* --------------------------------------- HEADER --------------- */

header {
  grid-column: 1 / 3;
  color: white;
  text-align: center;
  height: 700px;
  background-image: url("../img/00-landing.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg {
  background-color: #23231;
  display: flex;
  height: 350px;
  background-size: cover;
}

.bg-headline {
  margin: 40% auto 0 auto;
  color: black;
}

.bg-headline h1{
  font-size: 2.1em;
  color: #2ea0ff;
  text-transform: uppercase;
  margin: 0;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
}

.bg-headline h4{
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  margin: 0;
}

.bg-headline p{
  font-size: 1em;
  font-weight: 100;
}

.subtitle {
  font-family: 'Open Sans', sans-serif;
}


.bg-buttons .container {
  width: 80%;
}

.bg-button-element{
  transition: all 0.4s ease;
  background-color: transparent;
  border: 4px solid #e0e0e0;
  border-radius: 20px;
  padding: 1% 25%;
  font-size: 1em;
  font-weight: 100;
  color: #2ea0ff;
  cursor: pointer;
}

#bg-button-02 .bg-button-element {
  padding-left: 27%;
  padding-right: 27%;
}

.bg-button-element:hover {
  background-color: #2ea0ff;
  border: 4px solid #2ea0ff;
  color: white;
}

#bg-button-01, #bg-button-02, #bg-button-03 {
  margin: 3% 0;
}



/*  (landscape phones, 576px and up)   */
@media screen and (min-width: 576px) {
          header {
            height: 700px;
            padding: 4rem;
            background-size: 165%;
          }

          .bg {
            height: 300px;
          }

          .bg-headline {
            margin: 20% auto;
            color: black;
          }

          .bg-headline h1{
            font-size: 3em;
            color: #2ea0ff;
          }

          .bg-headline p{
            font-size: 1.2em;
            font-weight: 100;
          }

          #bg-button-01, #bg-button-02, #bg-button-03 {
            margin: 1% 0;
          }


}

/*  (tablets, 768px and up)  */
@media screen and (min-width: 768px) {

          header {
            height: 800px;
            padding: 4rem;
            background-size: 135%;
          }

          .bg {
            height: 300px;
          }

          .bg-headline {
            margin: 10% auto;
            color: black;
          }

          .bg-headline h1{
            font-size: 4em;
            color: #2ea0ff;
          }

          .bg-headline p{
            font-size: 1.2em;
            font-weight: 100;
          }

          .bg-buttons .container {
              width: 100%;
          }

          .bg-button-element{
            font-size: 1.1em;
          }

          .bg-button-element{
            padding: 1% 15%;
          }

          #bg-button-02 .bg-button-element {
            padding-left: 16.5%;
            padding-right: 16.5%;
          }

}

/*  (desktops, 992px and up)  */
@media screen and (min-width: 992px) {

          header {
            height: 900px;
            padding: 4rem;
            background-size: 110%;
          }

          .bg {
            height: 350px;
          }

          .bg-headline {
            margin: 10% auto;
            color: black;
          }


          .bg-headline h1{
            font-size: 4.5em;
            color: #2ea0ff;
          }

          .bg-headline p{
            font-size: 1.2em;
            font-weight: 100;
          }

          .bg-button-element{
            font-size: 1.1em;
          }

          .bg-button-element{
            padding: 1% 10%;
          }

          #bg-button-02 .bg-button-element {
            padding-left: 11%;
            padding-right: 11%;
          }
}


/*  (large desktops, 1200px and up)  */
@media screen and (min-width: 1200px) {

          header {
            height: 900px;
            padding: 4rem;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
          }

          .bg {
            height: 370px;
          }

          .bg-headline {
            margin: 10% auto;
            color: black;
          }

          .bg-headline h1{
            font-size: 4.5em;
            color: #2ea0ff;
          }

          .bg-headline p{
            font-size: 1.2em;
            font-weight: 100;
          }

          .bg-button-element{
            font-size: 1.1em;
          }

          .bg-button-element{
            padding: 1% 10%;
          }

          #bg-button-02 .bg-button-element {
            padding-left: 11%;
            padding-right: 11%;
          }

}



/* --------------------------------------- SIDEBAR NAV --------------- */

nav {
  background: #303030;
  width: 300px;
  top: 15%
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-block {
  width: 240px;
}

.sidebar-nav {
  background-color: #303030;
   display: none;
}

.section-block-anchor-link:hover {
  color: #8c8c8c;
  text-decoration: none;
}

#button-sidebar-go-to-top {
  margin-top: 10%;
  margin-bottom: 10%;
}

#sidebar-go-to-top {
  width: 50%;
  margin-bottom: 15%;
}


/* Only stick if you can fit */
@media (min-height: 300px) {
  nav ul {
    position: sticky;
    top: 15%;
  }
}
nav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
}
nav ul li a.current {
  background: black;
}

.section-nav-title {
  font-size: 0.85em;
  margin: 0;
  line-height: 1.3;
}

.section-nav-title-introduction{
  font-size: 1em
}

.section-nav-number {
  font-weight: 600;
  font-size: 1.3em;
  margin-right: 3%;
  color: #2ea0ff;
}



/*  (landscape phones, 576px and up)   */
@media screen and (min-width: 576px) {  }

/*  (tablets, 768px and up)  */
@media screen and (min-width: 768px) {

        .sidebar-nav {
           display: none;
        }

        .section-nav-title-introduction {
        margin: 30% 0 0 0;
        }

}

/*  (desktops, 992px and up)  */
@media screen and (min-width: 992px) {

        .sidebar-nav {
           display: block;
        }

        .section-nav-title-introduction {
        margin: 30% 0 0 0;
        }

}

/*  (large desktops, 1200px and up)  */
@media screen and (min-width: 1200px) {

        .sidebar-nav {
           display: block;
        }

        .section-nav-title-introduction {
        margin: 30% 0 0 0;
        }

}

/* --------------------------------------- Pre main --------------- */

.pre-main {
  height: 100px;
}

/* --------------------------------------- PAGE CONTENT --------------- */

.main {
  padding: 0;
  grid-column: 1 / 3;
}

.main .container {
  padding: 0 10%;
}

.page-main-content .container-fluid {
  padding: 0;
}

.page-main-content h1 {

    font-size: 2em;
    font-weight: 700;
    color: #2ea0ff;

}

.sidebar {
  display: none;
}

.section-intro-temp {
    height: 0;
}

.section-illustration {
  margin: 15% 0 10% 0;
}

.section-number {
  color: #2ea0ff;
  font-size: 1.4em;
  margin-right: 1%;
}

#introduction-section h1, #section-1 h1, #section-2 h1, #section-3 h1, #section-4 h1, #section-5 h1, #section-6 h1, #section-7 h1, #section-8 h1, #section-9 h1 {
  font-size: 4.5em;
  font-weight: 700;
  color: #2ea0ff;
}

#introduction-section h2, #section-1 h2, #section-2 h2, #section-3 h2, #section-4 h2, #section-5 h2, #section-6 h2, #section-7 h2, #section-8 h2, #section-9 h2 {
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
}

#introduction-section h2 {
  margin-bottom: 3%;
  font-size: 3em;
  font-weight: 900;
}

#introduction-section h5, #section-1 h5, #section-2 h5, #section-3 h5, #section-4 h5, #section-5 h5, #section-6 h5, #section-7 h5, #section-8 h5, #section-9 h5 {
  margin-top: 2%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.7em;
}

#section-1 p, #section-2 p, #section-3 p, #section-4 p, #section-5 p, #section-6 p, #section-7 p, #section-8 p, #section-9 p {
  margin-top: 2%;
  line-height: 1.9em;
  font-size: 1em;
}

.download-section {
  text-align: center;
  margin: 10% 0;
}

.download-section h5 {
  margin-top: 5%;
  font-weight: 100;
}

.download-file-button {
  margin: 3% auto;
  background-color: #2ea0ff;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  display: flex;
}

.download-file-button a {
  width:75px;
  margin: auto;
}

.download-file-button a:hover {
  transition: all 0.4s ease;
  transform: scale(1.1);
}

.page-content-text {
  margin: 9% 10%;
}

.photo-credits {
  font-size: 0.7em !important;
  justify-content: end;
  display: flex;
  margin-right: 3%;
}

#bg-button-read-more {
  display: flex;
  justify-content: center;
}

.bg-button-element-read-more {
  margin: 20% 0 5% 0;
  transition: all 0.4s ease;
  background-color: transparent;
  border: 4px solid #e0e0e0;
  border-radius: 20px;
  padding: 2% 0%;
  font-size: 1em;
  font-weight: 100;
  color: #2ea0ff;
  cursor: pointer;
  width: 400px;
}

.bg-button-element-read-more:hover {
  background-color: #2ea0ff;
  border: 4px solid #2ea0ff;
  color: white;
}

.endorse-section {
  margin: 10% 0 3% 0;
  text-align: center;
}


.endorse-section h2{
  font-size: 2rem;
  font-weight: 900;
  color: #2ea0ff;
  text-transform: uppercase;
  font-family: 'roboto';
  margin-bottom: 5%;
}



/*  (landscape phones, 576px and up)   */
@media screen and (min-width: 576px) {

          .main .container {
              padding: 0 0%;
          }

          .page-content-text {
            margin: 9% 10%;
          }

          #declaration {
            margin: 10% 0 0 0;
          }

}

/*  (tablets, 768px and up)  */
@media screen and (min-width: 768px) {

          .main .container {
              padding: 0 0%;
          }

          .sidebar {
            display: none;
          }

          .page-content-text {
            margin: 9% 10%;
          }

}


/*  (desktops, 992px and up)  */
@media screen and (min-width: 992px) {

          .main .container {
              padding: 0 10%;
          }

          #declaration {
            margin: 10% 0 0 0;
          }

          .section-intro-temp {
              height: 0;
          }

          .page-content-text {
            margin: 7% 10%;
          }

          .page-content-text {
            margin: 9% 10%;
          }

}

/*  (large desktops, 1200px and up)  */
@media screen and (min-width: 1200px) {

            .main .container {
                padding: 0 10%;
            }

            .sidebar {
              display: block;
            }

            .main {
              padding: 0;
            }

            .section-intro-temp {
                height: 150px;
            }

            .grid-container {
              display: grid;
              grid-template-columns: auto auto auto auto;
              grid-gap: 10px;
            }

            #content-section-container {
              width: 100%
            }

            .page-main-content {
              margin: 0;
            }

            .page-main-content .container-fluid {
              padding: 0;
            }

            .page-main-content h1{
            font-size: 3em;
            font-weight: 700;
            color: #2ea0ff;
            margin-bottom: 3%;
            }

            .page-main-content h4{
              margin-top: 1%;
              font-family: 'Roboto', sans-serif;
              font-weight: 400;
              font-size: 1.5em;
              line-height: 1.7em;
            }

            .page-main-content p{
              margin-top: 1%;
              font-size: 1em;
              line-height: 1.7em;
            }

            .page-content-text {
              margin: 9% 10%;
            }

}

/* --------------------------------------- MAIN FOOTER --------------- */

footer {
  grid-column: 1 / 3;
  background: #1D1D1D;
  padding: 5rem 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}


.footer-container-titles {

    color: white;
    margin-bottom: 1.3%;

}

#footer-element-01, #footer-element-02, #footer-element-03, #footer-element-04 {
  margin: 10%;
  display: flex;
}

.footer-logo-01, .footer-logo-02, .footer-logo-03 {
  width: 90%;
  margin: 0 auto;
}

.footer-logo-04 {
  width: 100%;
  margin: 30% auto;
}



#footer-title-01, #footer-title-02 {
  color: white;
  font-weight: 400;
  text-align: center;
}

#footer-title-01 {
   position: absolute;
      margin-top: -20%;
}

#footer-title-02 {
   position: absolute;
}

#footer-hr {
  margin: 0 0 15% 0;
  border-top: 1px solid #3b3b3b;
}

.footer-arrow-back-to-top {
  position: relative;
}

.footer-arrow-back-to-top a {
  display: block;
  position: absolute;
  right: 0;
}

#footer-go-to-top-arrow img{
  width: 100%;
}

#footer-title-arrow {
  margin: 20% 0 30% 0;
  color: white;
  font-weight: 400;
  font-size: 0.75em;
}


/*  (landscape phones, 576px and up)   */
@media screen and (min-width: 576px) {

          .footer-logo-01, .footer-logo-02, .footer-logo-03 {
              width: 70%;
              margin: 0 auto;
          }

          #footer-element-01, #footer-element-02, #footer-element-03, #footer-element-04 {
              margin: 0%;
              display: flex;
          }

          #footer-title-02 {
              position: absolute;
              margin-top: -20%;
              font-size: 0.7em;
          }

          #footer-title-01 {
              font-size: 0.7em;
          }

          .footer-logo-04 {
              width: 100%;
              margin: 1% auto;
          }

          #footer-hr {
            margin: 7% 0;
          }
}


@media screen and (min-width: 768px) {

          .footer-logo-01, .footer-logo-02, .footer-logo-03 {
              width: 70%;
              margin: 0 auto;
          }

          #footer-title-02 {
              position: absolute;
              margin-top: -20%;
              font-size: 0.8em;
          }

          #footer-title-01 {
              font-size: 0.8em;
          }

          .footer-logo-04 {
              width: 100%;
              margin: 10px auto;
          }

          #footer-element-01, #footer-element-02, #footer-element-03, #footer-element-04 {
              margin: 0%;
              display: flex;
          }

          #footer-hr {
            margin: 7% 0;
          }

}


/*  (desktops, 992px and up)  */
@media screen and (min-width: 992px) {

          #footer-element-01, #footer-element-02, #footer-element-03, #footer-element-04 {

              margin: 0%;
              display: flex;

          }

}

/*  (large desktops, 1200px and up)  */
@media screen and (min-width: 1200px) {

          #footer-element-01, #footer-element-02, #footer-element-03 {
            margin: 0;
            display: flex;
            max-width: 20%;
          }

          #footer-element-01 {
            margin-left: 1.5%;
          }

          #footer-element-04 {
            margin: 0;
            display: flex;
            max-width: 30%;
            flex: 0 0 40%;
          }

           #footer-title-01 {
               position: absolute;
               margin: -12% 0 0 17%;
           }

           #footer-title-02 {
               position: absolute;
               margin: -8% 0 5% 17%;
           }

          .footer-logo-01, .footer-logo-02, .footer-logo-03 {
            width: 65%;
            margin: auto;
          }

          .footer-logo-04 {
            width: 80%;
            margin: auto 0 auto auto;;
          }

          #footer-hr {
            margin: 5% 0;
            border-top: 1px solid #3b3b3b;
          }

          .footer-arrow-back-to-top {
            position: relative;
          }

          .footer-arrow-back-to-top a {
            display: block;
            position: absolute;
            right: 0;
          }

          #footer-go-to-top-arrow img{
            width: 100%;
          }

          #footer-title-arrow {
            margin: 20% 0 30% 0;
            color: white;
            font-weight: 400;
            font-size: 0.75em;
          }

}

/* --------------------------------------- SOCIAL SHARE --------------- */

.social-share {
  margin: 10% 0 10% 0;
}

.social {
    margin: 0;
    padding: 0;
}

#social-share-col6 {
  margin: auto;
}
.social-share .container h5 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #2ea0ff;
  margin-bottom: 3%;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #303030;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
}

.social .fa-facebook:hover {
    background: #4060A5;
}

.social .fa-twitter:hover {
    background: #00ABE3;
}

.social .fa-google-plus:hover {
    background: #e64522;
}

.social .fa-github:hover {
    background: #343434;
}

.social .fa-instagram:hover {
    background: #375989;
}

.social .fa-rss:hover {
    background: #e88845;
}

.social .fa-whatsapp:hover {
    background: #00bd51;
}

.social .fa-youtube-play:hover {
    background: #DF192A;
}

.social .fa-envelope-o:hover {
    background: #828282;
}
